body {
  background-color: #b4b1b1;
  margin: 0 0 20px 0;
}

.navbar {
  background-color: rgba(45, 81, 133, 0.7);
  border: ridge;
  border-color: rgba(41, 41, 43, 0.651);
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0 70px;
}
.menu {
  display: flex;
  gap: 55px;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #d4a6bc;
  font-weight: light;
  font-size: 25px;
  margin-left: 13px;
}

.product-name {
  font-size: 15px;
}

.border td {
  font-size: 15px;
}

.admin-content th {
  font-size: 15px;
}

.admin-content th {
  border-bottom: 1px solid #000;
  padding: 25px;
}

table {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: auto;
  border-collapse: collapse;
  border: none;
}

.admin-content th:first-child,
table tbody td:first-child {
  width: 250px;
}

.admin-content .product-name {
  width: 550px;
}

.admin-content th:last-child,
table tbody td:last-child {
  width: 200px;
}

.admin-image {
  width: 70px;
}

.border:nth-child(1n) {
  border-bottom: 1px solid #000;
}

.border .product-name {
  width: 600px;
}

table thead {
  font-family: "Montserrat", sans-serif;
  font-family: "Rubik", sans-serif;
  color: #fff;
  background-color: rgba(15, 42, 71, 0.8);
}

.modify-product {
  width: 85px;
  border: 2p;
  border-radius: 5px;
  color: white;
  background-color: rgba(41, 41, 43, 0.651);
  font-size: 17px;
}
.add-new-product {
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 1000px;
}

.add-new-product button {
  font-size: 20px;
  border-radius: 10px;
  background-color: #d4a6bc;
  color: #fff;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-description {
  display: none;
}
